:root {
	--primary: hsla(358,78%,51%,1);
  --primary50: hsla(358,78%,51%,0.5);
  --primary30: hsla(358,78%,51%,0.3);
  --primary10: hsla(358,78%,51%,0.1);
  --primary5: hsla(358,78%,51%,0.05);
  --white: hsla(0,0%,100%,1);
  --white50: hsla(0,0%,100%,0.6);
  --white75: rgba(255,255,255,0.75);
	--red: #D90000;
  --yellow: hsla(55.73, 93.36%, 52.75%, 1);
  --yellow50: hsla(55.73, 93.36%, 52.75%, 0.5);
  --text: #333;
  --black: hsla(0,0%,0%,1);
  --black55: hsla(0,0%,0%,0.55);
  --lightgrey: #ebebeb;
  --mattblack: hsla(214,12%,11%,1);
  --green: hsla(144, 80%, 22%, 1);

  --transitionLength: 0.4s;
  --transitionTiming: ease;

}

/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
padding: 0;
margin: 0;
font-family: Tahoma, Verdana, "Segoe Print", sans-serif;
font-size: 1rem;
line-height: 1.6;
color: var(--text);
background-color: var(--white);
}

html { 
scroll-behavior: smooth; 
}
  


a img {border: 0;}

a {
  line-height: inherit;
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--white);
  border: none;
background: var(--primary);
  background-color: var(--primary);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'Trocchi', serif;
  font-style: normal;
  font-weight: normal;
  color: var(--primary);
  text-rendering: optimizeLegibility;
  margin:0 0 0.75rem;padding:0;
  text-wrap: balance;
}

.largetext {font-size: 200%;}

h1.heading-text {
  color: var(--primary);
  font-family: 'Trocchi', serif;
  font-size: 3rem;
  text-align: left;
  line-height: 3.4rem;
  text-transform: capitalize;
  background-color: var(--white50);
  margin-bottom: 3rem;
  padding:1rem;
  display: inline-block;
}

.h1, h1 {
    font-size: 3rem;
  }
  
.h2, h2 {
  font-size: 2.4rem;
}


.h2, h2 {
  font-size: 2.4rem;
}

.h3, h3 {
  font-size: 1.9375rem;
}


.h4, h4 {
  font-size: 1.5625rem;
}

p {
text-wrap: pretty;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 400;
color: var(--text);
text-rendering: optimizeLegibility;
margin-bottom: 1rem;}


strong {
font-weight: 700;
color: var(--primary);
}

.container {
  background-color: var(--white);
  background-image: url('https://ik.imagekit.io/webtactics/changs/images/assets/bg/Chang-pattern-191x500-30-clear.png');
  background-repeat: repeat;}


  .content-title { background: #ebebeb; display: flex;
        align-items: center;
        justify-content: center;}
     
    .headerwrapper {
        display: grid;
        grid-template-columns: 120px 1fr;
        grid-template-areas:
          "hamburger logo";
          grid-template-rows: 44px;
 }  
     
  
@media only screen and (min-width: 1025px) {  
        .headerwrapper {
        display: grid;
        grid-template-columns: 120px 200px 1fr 200px;
        grid-template-areas:
          "hamburger logo nav socialwrapper";
          grid-template-rows: 64px; } 

          .headerwrapper.scrolled {
          grid-template-rows: 44px; } 
    }
    
.hamburger { grid-area: hamburger; }
      .logo { grid-area: logo; }
      .nav { grid-area: nav; }
      .socialwrapper { grid-area: socialwrapper; }
      
        
.close, .closed {
            text-align: right;
            text-decoration: none;
            font-size: 3em;
            position: relative;
            top: 0rem;
            right:1rem;
            cursor:pointer;
            float:right;
          }
  
@media screen and (min-width: 1025px) {
  .logo img {
    max-width:200px;
    -webkit-transition: all 0.6s;
-moz-transition: all 0.6s;
-ms-transition: all 0.6s;
-o-transition: all 0.6s;
transition: all 0.6s;}

.scrolled .logo img {
  max-width:160px;
    -webkit-transition: all 0.6s;
-moz-transition: all 0.6s;
-ms-transition: all 0.6s;
-o-transition: all 0.6s;
transition: all 0.6s;}

}
@media screen and (max-width: 1025px) {
.navwrapper, .socialwrapper {
  display: none;
}
.logo {position:absolute;right:0.5rem;text-align: right;}
.logo img {max-width:145px;
  -webkit-transition: all 0.6s;
-moz-transition: all 0.6s;
-ms-transition: all 0.6s;
-o-transition: all 0.6s;
transition: all 0.6s;}
.scrolled .logo img {
  max-width:145px;
  -webkit-transition: all 0.6s;
-moz-transition: all 0.6s;
-ms-transition: all 0.6s;
-o-transition: all 0.6s;
transition: all 0.6s;}
}


.offcanvas {
  position: fixed;
  top: 0;
  left: -350px;
  width: 350px;
  height: auto;
  min-height:100%;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease-in-out;
  z-index: 5;
}

@media screen and (max-width: 1025px) {
.offcanvas {
  position: fixed;
  top: 0;
  left: -80vw;
  width: 80vw;
  height: 100%;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease-in-out;
  z-index: 5;
}}

.offcanvas.open {
  left: 0;
}




.toggle-nav {
  display: block;
  margin: 10px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--primary);
  cursor: pointer;
  background: transparent;
  border: none;
  width: auto;
  height: 44px;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  z-index: 3;
  padding:10px;
 }
.scrolled .toggle-nav {
margin: 5px;
color: var(--white);
height: 34px;
-webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
padding:5px;
}


 @media screen and (max-width: 1025px) {
.toggle-nav,   .scrolled .toggle-nav {
  margin: 5px;
  color: var(--white);
  height: 34px;
  -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  padding:5px;
}
}

.hamburger-icon:before {
  content: "";
  display:block;
    width: 24px;
    height: 4px;
    margin:0px;
    background: var(--white);
    box-shadow: 0 8px 0 0 var(--white), 0 1rem 0 0 var(--white);
    -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.hamburger:hover .hamburger-icon:before {
  background: var(--primary);
    box-shadow: 0 8px 0 0 var(--primary), 0 1rem 0 0 var(--primary);
      -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.scrolled  .hamburger-icon:before {
background: var(--white);
  box-shadow: 0 8px 0 0 var(--white), 0 1rem 0 0 var(--white);
    -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.scrolled:hover  .hamburger-icon:before {
  background: var(--black);
    box-shadow: 0 8px 0 0 var(--black), 0 1rem 0 0 var(--black);
      -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }

span.title-bar-title {display:flex;text-indent:30px;padding:0;margin-top:-0.25rem;color: var(--white);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;}

  .hamburger:hover span.title-bar-title {display:flex;text-indent:30px;padding:0;margin-top:-0.25rem;color: var(--primary);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;}

.scrolled span.title-bar-title {display:flex;text-indent:30px;padding:0;margin-top:-0.25rem;color: var(--white);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;}

  .scrolled:hover span.title-bar-title {display:flex;text-indent:30px;padding:0;margin-top:-0.25rem;color: var(--black);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;}

.toggle-nav:focus {outline: none;}




.button {
  background-color: var(--primary);
  color: var(--white);
  margin: 0;
  margin-bottom: 0px;
  border: none;
  padding:0.5rem 2rem;
}

.button:focus, .button:hover {
  background-color: var(--black);
  color: var(--white);
}
button.success, .button.success {
  background-color: var(--primary60);
  border-width: 0.1rem;
  border-color: var(--primary);
  color: var(--white);
  font-size: 1.3rem;
  padding: 0.5rem 2rem;
  margin: 0 auto;
  text-transform: uppercase;
  text-decoration:none;
}
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  background-color: var(--primary);
  color: var(--white);
  border-width: 0.1rem;
  border-color: var(--white);
}



button.close-nav {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.3rem;
  color: var(--primary);
  cursor: pointer;
  background-color: var(--white);
  border-width: 0.1rem;
  border-color: var(--primary);
  padding: 0.5rem;
  text-decoration:none;
}
button.close-nav:hover, button.close-nav:focus, .button.close-nav:hover, .button.close-nav:focus {
  background-color: var(--primary);
  color: var(--black);
  border-width: 0.1rem;
  border-color: var(--white);
}

button.blogdetail, .button.blogdetail {margin:0;}

.hide {
  display: none;
}
.topbar {
  position: fixed;
  background-color: var(--black55);
  width: 100%;
  padding: 0;
  top: 0;
  z-index: 3;
  -webkit-transition: all 0.6s;
-moz-transition: all 0.6s;
-ms-transition: all 0.6s;
-o-transition: all 0.6s;
transition: all 0.6s;
}

.topbar.scrolled {
  background-color: var(--primary);
  -webkit-transition: all 0.6s;
-moz-transition: all 0.6s;
-ms-transition: all 0.6s;
-o-transition: all 0.6s;
transition: all 0.6s;
}



ul.menusocial, ul.main-menu,  ul.second, ul.second-level, ul.fly-out-menu {
  list-style: none;
  margin: 0;
  margin-block-start: 0;
    margin-block-end:0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}
ul.main-menu {
  display: flex;
  justify-content: center; /* Align items horizontally in the center */
}

.main-menu {
padding: 0;
}


.main-menu > li {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  position: relative;
  width: 160px;
  text-align: center;
}

.main-menu > li.hide {
  display: none;
}

.main-menu > li > a {
  line-height: 64px;
  padding: 0;
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  color: var(--white);
  background-color: transparent;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  display: block;
  position: relative;
  border-bottom: none;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.main-menu > li > a:hover {
  color: var(--white);
  background-color: var(--primary);
  border-bottom: none;
  transition: all 0.3s;
}

.scrolled .main-menu > li > a {
  line-height: 44px;
  color: var(--white);
  background-color: transparent;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.scrolled .main-menu > li > a:hover {
  color: var(--primary);
  background-color: var(--white);
  border-bottom: none;
  transition: all 0.3s;
}


.main-menu > li.active-class > a {
  color: var(--white);
  background-color: var(--primary);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.scrolled .main-menu > li.active-class > a {
  color: var(--primary);
  background-color: var(--white);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

ul.second-level {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--white);
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

ul.second-level li {
  display: block;
  border-top: 1px solid var(--lightgrey);
}




ul.second-level li a {
  display: block;
padding: 0.4rem 0;
  color: var(--primary);
  width: 160px;
  text-align: center;
  text-decoration: none;
}
ul.second-level li a:hover {
  display: block;

  color: var(--white);
  background-color: var(--primary);
  text-align: center;
  text-decoration: none;
}

ul.second-level li.active-class > a {
  color: var(--white);
  background-color: var(--primary);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

ul.main-menu li:hover ul.second-level {
  display: block;
}
/* fly-out menu */

.main-menu > li > ul li > ul.fly-out-menu{   /* Third Level & beyond */
  display:none;
  background-color: var(--white);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}
.main-menu > li > ul li:hover > ul.fly-out-menu{
  display:block;
  position:absolute;
  left:100%;
  top:0;
  width:auto;
}
.main-menu > li > ul > li ul > li{
  display:block;
  white-space:nowrap;
}
.main-menu > li > ul > li ul > li:hover > span{
  color:var(--white);
}


@media (max-width: 1400px) {
  .main-menu {padding: 0 1rem;}
  .main-menu > li,  ul.second-level li a {
width: 140px;
  }

  }

/* Adjust positioning and styling as needed */



ul.menusocial li {
  float: right;
  margin: 0 1rem 0 0;
}

  

.menusocial > li {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
    position: relative;
    right: 0;
    width: 2rem;
    text-align: center;
}



.menusocial > li > a {
  padding: 0;
  line-height: 64px;
  font-size: 2.4rem;
  width:34px;
  height:34px;

text-decoration: none;
font-weight: 700;
cursor: pointer;
display: block;
position: relative;
border-bottom: none;
background-color: var(--white);
margin:15px 0;
-webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;

}



.menusocial > li > a:hover {

  background-color: #4267B2;
  border-bottom: none;
  transition: all 0.3s;
}




.scrolled .menusocial > li > a {
  line-height: 44px;
  width:34px;
  height:34px;

text-decoration: none;
font-weight: 400;
cursor: pointer;
display: block;
position: relative;
border-bottom: none;
background-color: var(--white);
margin:5px 0;
-webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.scrolled .menusocial > li > a:hover {
 
  background-color: #4267B2;
  border-bottom: none;
  transition: all 0.3s;
}
.offcanvas h3 {
  color: var(--white);
  text-align: left;
  padding-left: 1rem;
  background: var(--primary);
  height: 64px;
  line-height: 64px;
  margin: 0 0 2px 0;
}

.mobilemenu {padding:0 0 1rem;}
ul.off-canvas-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.off-canvas-list li a {
  display: block;
  color: var(--white);
  background: #3A3A3A;
  font-size: 0.9rem;
 padding: 0.5rem;
  border-bottom: 1px solid #e6e6e6;
  transition: background 300ms ease;
}
ul.off-canvas-list li a:hover, ul.off-canvas-list li a:focus {
  color: #191C20;
  background: var(--primary);

}

ul.off-canvas-list > li.current > a, ul.off-canvas-list > li.active-class > a {
  color: var(--white);
  background-color: var(--primary); font-weight: 400;}

  ul.off-canvas-list li ul.second li a {
    display: block;
    color: var(--white);
    background: var(--red);
   padding: 0.35rem 1.5rem;
    border-bottom: 1px solid #e6e6e6;
    transition: background 300ms ease;

  }

  ul.off-canvas-list li ul.second li a:hover {
    display: block;
    color: var(--white);
    background: var(--green);
    padding: 0.35rem 1.5rem;
    border-bottom: 1px solid #e6e6e6;
    transition: background 300ms ease;
  }

  ul.off-canvas-list li ul.second li.active-class a {
    border-bottom: 1px solid #e6e6e6;
    color: var(--white);
    display: block;
   padding: 0.35rem 1.5rem;
    transition: background 300ms ease;
    background: var(--black);
  }

  .main {
    position: relative;
    margin: -40vh auto 0 auto;
    padding: 0;
    z-index: 2;
    width: calc(100vw - 0.5rem);
    max-width: 1440px;
    background-color: transparent;
    }
    

.content {
padding: 3rem;
background-color:var(--white);
min-height:600px;
}


.content-detail {
  padding: 0;
  background-color: transparent;
}






@media (max-width: 1024px) {


}




[class*="grid-"] {
  display: grid;
  gap: 1rem;
}


@media (min-width: 1025px) {
  .grid-2-columns {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-2-columns-3x1 {
    grid-template-columns: 3fr 1fr; gap: 2rem;
  }   

  .grid-2-columns-4x1 {
    grid-template-columns: 3fr 1fr; gap: 2rem;
  }   
  .grid-2-columns-5x7 {
    grid-template-columns: 5fr 7fr; gap: 2rem;
  }   
  .grid-3-columns {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-4-columns {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  .grid-5-columns {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid-6-columns {
    grid-template-columns: repeat(6, 1fr);
  }
}
  
  @media (max-width: 1025px) {
    .grid-2-columns {
      grid-template-columns: repeat(2, 1fr);
    }


    .grid-3-columns {
      grid-template-columns: repeat(2, 1fr);
    }
    .grid-4-columns {
      grid-template-columns: repeat(2, 1fr);
    }
    .grid-5-columns {
      grid-template-columns: repeat(3, 1fr);
    }
    .grid-6-columns {
      grid-template-columns: repeat(3, 1fr);
    }

  }
  @media (max-width: 600px) {
    .grid-2-columns {
      grid-template-columns: repeat(1, 1fr);
    }
    .grid-2-columns-3x1 {
      grid-template-columns: 1fr;
    }
    .grid-2-columns-5x7 {
      grid-template-columns: 1fr;
    }
    .grid-3-columns {
      grid-template-columns: repeat(1, 1fr);
    }
    .grid-4-columns {
      grid-template-columns: repeat(1, 1fr);
    }
    .grid-5-columns {
      grid-template-columns: repeat(2, 1fr);
    }
    .grid-6-columns {
      grid-template-columns: repeat(1, 1fr);
    }

  }



.grid-detailpage-sidebar-summary {
  grid-template-columns: 1fr 4fr;}

.grid-timecost {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0;
  column-gap: 1rem;}


  .detailwrapper {}
  .sidebarwrapper {background-color: var(--white);padding:1rem;}

  .item.blogdetail {background-color: var(--white);padding:2rem;}
  .blogdetailimage {background-color: var(--white);padding:0;}
  .detailcontent {background-color: var(--white);padding:1rem 1rem 2rem;margin: 0 0 0 4rem;}
  @media (max-width: 700px) {
    .detailcontent {padding:1rem 0;margin: 0;}
    .item.blogdetail {padding:1rem;}
  }
  .video, .gallery {margin: 2rem 0;background-color: var(--white);padding:0;}

  


.postsummarywrapper {position:relative;text-align:center;padding:2rem;}

.postsummarywrapper a {padding:0;border:none;}

.postsummarywrapper img{width:100%}

.postsummarywrapper .image-overlay{position:absolute;top:0;left:0;width:100%;height:100%;background-color:transparent;-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;transition:all .2s;opacity:0;overflow:hidden}

.postsummarywrapper:hover .image-overlay{opacity:1;background-color:transparent;}

.NewsSummaryHome .postsummarywrapper .image-overlay .overlay-icon{width:70px;height:70px;display:block;border-radius:50%;margin:-70px auto 0;opacity:0;-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;transition:all .2s}
.postsummarywrapper:hover .image-overlay .overlay-icon{opacity:1;margin:70px auto 0}.postsummarywrapper .image-overlay .overlay-icon img{width:70px;height:70px}

.NewsSummaryLinkHome {padding:0;min-height:65px;}
.NewsSummaryLinkHome h2 {margin:0;}
.NewsSummaryPrice {font-size:0.85rem;color:var(--green);padding:0.5rem 0;}
.ProdDescSummaryHome {color:rgba(129,129,129,1.00);padding:0.5rem 0;min-height:150px;font-size:1rem;}
  .ProdDescSummaryHome p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0 0 1rem 0;
  }


.newssumbutton {clear: both;position: relative;}

.NewsSummaryHome {
  margin: 0;
   padding: 1rem;
   background-color: var(--white);
   border: 2px solid var(--text);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.NewsSummaryHome:hover {
   box-shadow: 0 2px 8px var(--lightgrey);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   border: 2px solid var(--black);
}

.NewsSummaryHome h2 {font-size: 1.4rem;line-height: 1.2;font-weight:400;}
.NewsSummaryHome h2 a {border:none;}
.NewsSummaryHome h2 a:hover {border:none;}



.NewsSummaryHome h3 {font-size: 1.2rem;line-height: 1.2;}
.NewsSummaryHome h3 a {border-bottom:1px dotted rgba(0,102,0,0.30);}
.NewsSummaryHome h3 a:hover {border-bottom:1px solid #000000;}



.NewsSummaryPrice.detail {
  font-size: 0.85rem;
  color: var(--green);
  padding: 0.5rem 0;
  margin: 0 0 2rem 0;
}

.detailpagesummary {
  border-bottom: 2px solid var(--primary);
  margin-top: 1rem;
}
.detailpagesummaryborder {
  border-bottom: 2px solid var(--primary);
  margin-top: 1rem;
}
.pricesumpic {margin:0 0 1rem 0;}

.right {float:right;text-align:right;}


.footer {
  background-color: var(--primary);
  padding: 1rem 0;
  z-index: 4;
  margin-top:3rem;
}
.footerwrap {max-width:1280px;margin:0 auto;padding:1rem;
color: var(--white);
font-size: 90%;
text-align: center;
}
.footerwrap p {
  color: var(--white);
  font-size: 90%;
  
}
.footerwrap p a {
  color: var(--white);
  font-size: 90%;
  border-bottom: 1px dotted var(--white);
  padding: 0 0.25rem;

}
.footerwrap p a:hover {
  background: #ebebeb;
  color: #000000;
  font-size: 90%;
  border-bottom: 1px solid #1468a0;
}

.scrollToTop {
  display: block;
  display: none;
  z-index: 999;
  opacity: 1;
  position: fixed;
  right: 20px;
  bottom: 20px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  background: #000000 url(https://ik.imagekit.io/webtactics/gtm/assets/to-top_pZCu6b8pa.png?updatedAt=1683952481082) no-repeat center center;
  text-indent: -9999px;
}



/* Mobile menu styles */
.accordianNav {
  /*  this width is arbitrary and here for display only */
  max-width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.accordianNav a,
.accordianNav h3 {
  display: block;
  line-height: 1.4;
  color: var(--black);
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 100;
}

.accordianNav a {
  text-decoration: none;
  padding-left: 0;
}





/* Background hover animation. */

.accordianNav h3:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #444;
  background: rgba(244, 244, 244, .3);
  transition: all 0.3s ease-out;
}

.accordianNav h3:hover:before,
.accordianNav .dropArrow.active:before {
  width: 2%;
}

.accordianNav .dropArrow span {
  z-index: 2;
  position: relative;
}

.accordianNav .dropArrow:after {
  content: "";
  width: 6px;
  height: 6px;
  border-bottom: 2px solid #757575;
  border-right: 2px solid #757575;
  float: right;
  position: relative;
  top: 12px;
  right: 25px;
  transform: rotate(45deg);
  transform-origin: center;
}

.accordianNav .dropArrow.active {
  color: var(--white);
}

.accordianNav .dropArrow.active:after {
  transform: rotate(-135deg);
  border-color: var(--white);
}





/* +Hover and Touch effect */

.accordianNav a:hover,
.accordianNav a:active,
.accordianNav h3:hover,
.accordianNav h3:active,
.accordianNav h3.dropArrow:hover:after,
.accordianNav h3.dropArrow:active:after {
  color: white;
  border-color: #fff;
  -webkit-transition: all 0.5s cubic-bezier(0.36, 1.64, 0.29, 0.88);
  transition: all 0.5s cubic-bezier(0.36, 1.64, 0.29, 0.88);
}

.accordianNav li {
  list-style-type: none;
}

.accordianNav a {
  transform: translate(0px, 0px);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}


/*Drop links*/

.accordianNav ul ul li a {
  padding: 0 0 0 2.5em;
}


/*hover effect on links*/

.accordianNav ul ul li a:hover {

}


/*Hide and show the drops*/

.accordianNav ul ul {
  display: none;
}

.accordianNav li.active ul {
  display: block;
}



.recipesingredient ul,  .recipesmethod ol  {
 
  font-size: 15px;
  padding:0 1rem 1rem;
}

.recipesingredient ul li::marker, .recipesmethod ol li::marker {
  color: var(--primary);
  font-size: 15px;

}

 /* Styles for the tag box section */

.tag ul {
  display: flex;
  flex-wrap: wrap;

}
.tag ul li {
  list-style: none;
  margin-right: 20px;
}
.tag ul li:last-child {
  margin-right: 0;
}










 /* Styles for the modal */
 .quick-example {
  margin: 1rem;
  padding: 1rem;
  background: hsl(200 50% 50% / 0.4);
  border-radius: 0.5rem;

  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}
.quick-example:hover {cursor:pointer;}

.quick-example > div {
  overflow: hidden;
}

.quick-example:hover {
  grid-template-rows: 1fr;
}


/* Searchbox */
.accordion-animation-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows var(--transitionLength) var(--transitionTiming);
}

.accordion-trigger-input:checked ~ .accordion-animation-wrapper {
  grid-template-rows: 1fr;
}

.accordion-animation {
  min-height: 0;
}

.accordion-transform-wrapper {
  transform: translateY(-100%);
  visibility: hidden;
  transition: transform var(--transitionLength) var(--transitionTiming), visibility 0s var(--transitionLength) var(--transitionTiming);
}

.accordion-trigger-input:checked ~ .accordion-animation-wrapper .accordion-transform-wrapper {
  transform: translateY(0);
  visibility: visible;
  transition: transform var(--transitionLength) var(--transitionTiming), visibility 0s linear;
}

/* Margins inside the container will throw animation height calculations off, better use paddings */
.accordion-content * {
  margin: 0;
}


/* The styles */



.accordion {
  width: auto;
  margin: 0 auto;
 
}

.accordion-item {
  border-top: 2px solid var(--primary);
  border-bottom: 2px solid var(--text);
  margin-bottom: -2px;
  overflow: hidden;
}

.accordion-trigger-input {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}


.accordion-trigger {
  display: block;
  position: relative;
  padding: 1rem;
  transition: box-shadow var(--transitionLength) var(--transitionTiming);
  z-index: 1;
  cursor: pointer;
  background-color: var(--white);
  color:var(--primary);
}

.accordion-trigger:hover {
  background-color: var(--white);
  color:var(--black);
}

.accordion-trigger-input:focus-visible ~ .accordion-trigger {
  outline: 2px solid;
  outline-offset: -2px;
}

.accordion-trigger::after {
  display: block;
  position: absolute;
  right: 1rem;
  top: 18px;
  content: '';
  width: 8px;
  height: 8px;
  border: 2px solid #676767;
  border-bottom: transparent;
  border-left: transparent;
  transform: rotate(135deg);
  transition: transform var(--transitionLength) var(--transitionTiming);
}


.accordion-trigger-input:checked ~ .accordion-trigger::after {
  transform: rotate(135deg) rotateX(180deg) rotateY(180deg) translateY(4px) translateX(-4px);
}

.accordion-trigger-input:checked ~ .accordion-trigger {
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  transition: box-shadow calc(var(--transitionLength) / 4) var(--transitionTiming);
}

.accordion-content {
  padding: 1rem;
  background-color: var(--primary5);
}

.accordion-content h2 {
  padding-bottom: 0.75rem;
}

.accordion-content p {
  padding-bottom: 1.5rem;
}

.accordion-content p:last-of-type {
  padding-bottom: 0;
}

.accordion-content img {
  max-width: 100%;
}

aside {  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 4rem;
}

/* sidebar nav */

#menu_vert ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#menu_vert li {
margin: 0 0 1rem;
padding: 0;
}



div#menu_vert a {
  display: block;
  padding: 2em 0;
  background: var(--white);
  color: var(--red);
  text-align: center;
  font-family: 'Trocchi', serif;
  border-radius: 8px;
  font-size: 1.4rem;
  min-height: 1em;
  text-decoration: none;
}

div#menu_vert a:hover {
  background: var(--red);
  color: var(--white);
  text-decoration: none;
}

.newslettersidebar {
background: var(--black);
padding:1rem;
margin-top: 1rem;

}



/* CSS */
.button.postwide, button.postwide {
  display: block;
  background-color: var(--white);
  border: .3rem solid var(--black);
  color: var(--black);
  font-size: 1rem;
  padding: .4rem 3rem;
  margin: 0 auto;
  width: 100%;
  text-decoration: none;
  -webkit-transition: all .6s;
  -moz-transition: all .8s;
  -ms-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
}
.button.postwide:focus, .button.postwide:hover, button.postwide:focus, button.postwide:hover {
  background-color: var(--black);
  color: var(--white);
  border: .3rem solid var(--white);
  -webkit-transition: all .8s;
  -moz-transition: all .8s;
  -ms-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
}
.prodpostsumsumdefault {
  padding: 0;
  min-height: 100px;
}

.NewsSummaryHome:hover img {
  filter: brightness(1.2);
}
.postsumhome {
  color: var(--text);
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


