<header id="header" class="topbar headerwrapper">
<div class="hamburger"><div class="toggle-nav" aria-label="Toggle Navigation"><span class="hamburger-icon"></span>
<span class="title-bar-title">Menu</span>
</div></div>
<div class="logo"><a href="/" title="Return to the homepage | Louee Enduro and Motocross Complex" id="logo">
<img src="/static/img/assets/louee-logo-200x100-blue.jpg" alt="Louee Enduro and Motocross Complex" title="Louee Enduro and Motocross Complex" width="200px" height="100px">
 </a></div>
<div class="navwrapper">
{% include "components/nav-top.njk" %}
</div>
<div class="socialwrapper">
{% include "components/menu-social.njk" %}
</div>
</header>