<section class="sliderbox hide-for-print">
<div class="home-slide hide-for-print">

<div>
<div class="internalhero" style="background: url(/static/img/assets/louee-1.jpg) no-repeat top center;height:600px;width:100%; background-size:cover;"></div>
<div class="flex-caption left">
<h2><a href="recipes/Changs-Chocolate-Spiders/" title="Chang’s Chocolate Spiders" tabindex="-1">Chang’s <br>Chocolate Spiders</a></h2>
<div class="flextext"><p>Kids love this treat. So simple to make, kids can do it themselves. On top of this, the mixture really does resemble a spider.&nbsp; <a title="Chang's Chocolate Spiders" href="recipes/Changs-Chocolate-Spiders/" tabindex="-1">Chang's Chocolate Spiders</a> won't last long at any birthday party or occasion!</p></div>                             
<a href="recipes/Changs-Chocolate-Spiders/" class="btn btn-primary" title="Chang’s Chocolate Spiders" alt="Chang’s Chocolate Spiders" tabindex="-1">See recipe</a>
</div>
</div>


<div>
<div class="internalhero" style="background: url(/static/img/assets/louee-2.jpg) no-repeat bottom center;height:60vh;width:100%; background-size:cover;"></div>
<div class="flex-caption centre">
<h2><a href="https://www.changs.com/recipes/Rainbow-Rocky-Road/" title="Rainbow Rocky Road" tabindex="0">Rainbow Rocky Road</a></h2>
<div class="flextext"><p>This is one for the whole family to enjoy. Simple enough for the kids to make, delicious, colourful and fantastic!</p></div>                             
<a href="https://www.changs.com/recipes/Rainbow-Rocky-Road/" class="btn btn-primary" title="Rainbow Rocky Road" alt="Rainbow Rocky Road" tabindex="0">See recipe</a>
</div>
</div>





</div>
</section>