<section class="sliderbox hide-for-print">
<div class="home-slide hide-for-print">

<div>
<div class="internalhero" style="background: url(https://ik.imagekit.io/webtactics/changs-media/tr:w-1600,h-800,f-auto/slider/Changs-Chocolate-Spiders-1600x800_k4OAY3so4.jpg?updatedAt=1685410660982) no-repeat center center;height:100vh;width:100%; background-size:cover;"></div>
<div class="flex-caption left">
<h2><a href="recipes/Changs-Chocolate-Spiders/" title="Chang’s Chocolate Spiders" tabindex="-1">Chang’s <br>Chocolate Spiders</a></h2>
<div class="flextext"><p>Kids love this treat. So simple to make, kids can do it themselves. On top of this, the mixture really does resemble a spider.&nbsp; <a title="Chang's Chocolate Spiders" href="recipes/Changs-Chocolate-Spiders/" tabindex="-1">Chang's Chocolate Spiders</a> won't last long at any birthday party or occasion!</p></div>                             
<a href="recipes/Changs-Chocolate-Spiders/" class="btn btn-primary" title="Chang’s Chocolate Spiders" alt="Chang’s Chocolate Spiders" tabindex="-1">See recipe</a>
</div>
</div>


<div>
<div class="internalhero" style="background: url(https://ik.imagekit.io/webtactics/changs-media/tr:w-1600,h-800,f-auto/slider/Rainbow-Rocky-Road-1600x800_67fAcs0g2.jpg?updatedAt=1685410660999) no-repeat center center;height:100vh;width:100%; background-size:cover;"></div>
<div class="flex-caption centre">
<h2><a href="https://www.changs.com/recipes/Rainbow-Rocky-Road/" title="Rainbow Rocky Road" tabindex="0">Rainbow Rocky Road</a></h2>
<div class="flextext"><p>This is one for the whole family to enjoy. Simple enough for the kids to make, delicious, colourful and fantastic!</p></div>                             
<a href="https://www.changs.com/recipes/Rainbow-Rocky-Road/" class="btn btn-primary" title="Rainbow Rocky Road" alt="Rainbow Rocky Road" tabindex="0">See recipe</a>
</div>
</div>


<div>
<div class="internalhero" style="background: url(https://ik.imagekit.io/webtactics/changs-media/tr:w-1600,h-800,f-auto/slider/oriental-fried-noodle-salad-1600x800_FXG9u70R5.jpg?updatedAt=1685410661070) no-repeat center center;height:100vh;width:100%; background-size:cover;"></div>
<div class="flex-caption right">
<h2><a href="recipes/Crispy-Noodle-Salad/" title="Chang’s Famous<br/>Crispy Noodle Salad!" tabindex="-1">Chang’s Famous<br>Crispy Noodle Salad!</a></h2>
<div class="flextext"><p>Our famous Fried Noodle Salad, suits virtually any occasion, on the table at a summer BBQ or Christmas lunch, this salad fits right in. Swap out Original Fried Noodles with our <a title="Chang's Crunchy Fried Noodles" href="products/Changs-Crunchy-Fried-Noodles/" rel="noopener" tabindex="-1">Chang's Crunchy Fried Noodles</a> for a more textured salad or our <a title="Chang's Gluten Free Fried Noodles" href="products/Gluten-Free-Fried-Noodles/" rel="noopener" tabindex="-1">Chang's Gluten Free Fried Noodles</a> for a gluten-free salad.</p></div>                             
<a href="recipes/Crispy-Noodle-Salad/" class="btn btn-primary" title="Chang’s Famous<br/>Crispy Noodle Salad!" alt="Chang’s Famous<br/>Crispy Noodle Salad!" tabindex="-1">See recipe</a>
</div>
</div>


</div>
</section>

