<section class="sliderbox hide-for-print">
<div class="home-slide hide-for-print">

    <div>
<div class="internalhero" style="background: url(/static/img/assets/louee-2-page.jpg) no-repeat top center;height:600px;width:100%; background-size:cover;"></div>
</div>

<div>
<div class="internalhero" style="background: url(/static/img/assets/louee-1-page.jpg) no-repeat center center;height:600px;width:100%; background-size:cover;"></div>
</div>






</div>
</section>