<section class="sliderbox hide-for-print">
<div class="home-slide hide-for-print">

<div>
<div class="internalhero" style="background: url(static/img/assets/louee-1.jpg) no-repeat center center;height:100vh;height:100svh;width:100%; background-size:cover;"></div>
<div class="sliderhero content"> 
<div class="flex-caption left">
<h3><a href="https://ecom.roller.app/loueeenduroandmotocrosscomplex/booknow/en/home" title="Make a booking" alt="Make a booking">Book @ Louee</a></h3>
<div class="flextext"><h2><a href="https://ecom.roller.app/loueeenduroandmotocrosscomplex/booknow/en/home" title="Make a booking" alt="Make a booking">Make a booking ></a></h2></div>   
</div>                          
</div>

</div>


<div>
<div class="internalhero" style="background: url(/static/img/assets/louee-2.jpg) no-repeat center center;height:100vh;height:100svh;width:100%; background-size:cover;"></div>
<div class="sliderhero content">
<div class="flex-caption centre">
<h3><a href="https://ecom.roller.app/loueeenduroandmotocrosscomplex/booknow/en/home" title="Make a booking" alt="Make a booking">Book @ Louee</a></h3>
<div class="flextext"><h2><a href="https://ecom.roller.app/loueeenduroandmotocrosscomplex/booknow/en/home" title="Make a booking" alt="Make a booking">Make a booking ></a></h2></div>                           
</div>
</div>

</div>





</div>
</section>

