<section class="sliderbox hide-for-print">
<div class="home-slide hide-for-print">

<div>
<div class="internalhero" style="background: url(static/img/assets/louee-1.jpg) no-repeat center center;height:100vh;height:100svh;width:100%; background-size:cover;"></div>
<div class="sliderhero content2"> 
<div class="flex-caption left">
<h3>Aussie Extensions</h3>
<div class="flextext"><h2>Winner of 5 Master Builder Awards!</h2></div>   
</div>                          
</div>

</div>


<div>
<div class="internalhero" style="background: url(/static/img/assets/louee-2.jpg) no-repeat center center;height:100vh;height:100svh;width:100%; background-size:cover;"></div>
<div class="sliderhero content2">
<div class="flex-caption centre">
<h3>Aussie Extensions</h3>
<div class="flextext"><h2>Expertise & Experience You Can Trust</h2></div>                           
</div>
</div>

</div>





</div>
</section>

