<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

{% include "components/head.njk" %}

	
  {% block bodyclass %}<body class=" {{ class }} internal" > {% endblock %}
{% include "components/header.njk" %}
  {% include "components/off-canvas.njk" %}
  {% block hero %}
  {% include "components/hero.njk" %}
  {% endblock %}

<div class="container">
   

{% block content %}
<section role="main" class="main">  
<h1 class="heading-text">{{ title }}</h1>

	{{ content | safe }}

</section>
{% endblock %}


  {% include "components/footer.njk" %}
</div>
 {% block modal %}{% endblock %}

{% include "components/javascript.njk" %}


</body>
</html>
