{% extends "layouts/default.njk" %}



{% block bodyclass %}<body class="home {{ class }}"> {% endblock %}


{% block hero %}
{% include "components/hero-home.html" %}
{% endblock %}

{% block content %}
<section role="main" class="content">  
	{{ content | safe }}


<h3>Products</h3>
{% set postslist = collections.products %}
{% include "components/postslist-products.html" %}
<h3>Recipes</h3>
{% set postslist = collections.recipes %}
{% include "components/postslist.njk" %}
<h3>tamari-light-soy-sauce</h3>
{% set postslist = collections['tamari-light-soy-sauce'] %}
{% include "components/postslist.njk" %}
</section>
{% endblock %}


 